<template name="layout">

  <div id="body" layout="column" style="overflow: hidden;" layout-fill ng-controller="body-controller as body">
    {{> header}}
    <md-content class="md-padding">
      {{> yield}} 
    </md-content>
  </div>

</template>