<template name="mainPage">

  <div class="jumbo-content">
    <h1>HCI, UX, Meteor, Angular, Material</h1>
    <p>Researcher and Developer. Tools that I use to create useful things around the InterWebs</p>
  </div>
  <a href="/thoughts">here</a>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>
  <h1>HCI Researcher, UX Practicioner, Meteor Developer</h1>

  
</template>