html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3#app-title {
  font-weight: 200;
}

#body {
  overflow-y: hidden;
}

.toolbar-button-list .toolbar-button {
  color: white !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

.jumbo-content {
  height: 200px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  h1 {
    font-weight: 200;
    font-size: 50px;
    margin-top: 70px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    margin-top: -40px;
  }
}