<template name="header">
  <md-toolbar class="md-primary" md-scroll-shrink ng-controller="header-controller as header">
    <div class="md-toolbar-tools" style="color: #FFF">
      <div>
        <h3 id="app-title">
          <a href="/">tjmonsi</a>
        </h3>
      </div>
      <div flex></div>
      <div class="toolbar-button-list" ng-show="header.isScreenSmall()">
        {{#each links}}
          <toolbar-item name="{{name}}" path="{{path}}"></toolbar-item>
        {{/each}}
      </div>
      <div ng-show="!header.isScreenSmall()">
        <toolbar-menu icon="icons:menu"></toolbar-menu>
      </div>
    </div>
  </md-toolbar>
  
  <md-sidenav id="main-sidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools">
        <span flex></span>
        <toolbar-menu icon="icons:close"></toolbar-menu>
      </div>
    </md-toolbar>
    <md-content>
      <core-menu>
        <paper-item ng-click="body.clickLink('')">Home</paper-item>
        {{#each links}}
          <paper-item ng-click="body.clickLink('{{path}}')">{{name}}</paper-item>
        {{/each}}
      </core-menu>
    </md-content>
  </md-sidenav>
</template>